* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw
}

.app-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 600px;
    width: 300px;
    margin: auto;
    align-items: center;
    border-radius: 40px;
    
}

.app-header {
    display: flex;
    background-color: rgb(222, 255, 255);
    height: 70px;
    width: 100%;
}

.header-nav {
    flex-grow: 1;
}

.header-nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header-nav-li1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-display {
    display: flex;
    background-color: green;
    height: 250px;
}

.side-pane-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.buttons-container {
    background-color: blue;
    flex-grow: 1;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
